:root {
  --svg-fill: #5a5a5a;
  --border-color: #dfe1e5;
  --div-bg-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  color: #5F6368;
}

html {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  background-color: rgba(255, 255, 255, 0);
}

.navbar {
  width: 100vw;
  height: 50px;
  display: grid;
  grid-auto-flow: column;
}

ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 1rem;
}

.list1 {
  justify-self: left;
  margin-left: 1rem;
}

.list2 {
  justify-self: right;
  margin-right: 1rem;
}

.item1, .item3, .item4, .item5, .item6 {
  padding-right: 0.75rem;
}

.item2, .item4, .item5, .item6 {
  padding-left: 0.75rem;
}

.list2 .item5 {
  width: 20px;
  fill: var(--svg-fill);
  position: relative;
  top: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

.list2 .item6 {
  background-color: #2889f7;
  margin-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.2rem;
  color: var(--div-bg-color);
}

main {
  display: grid;
  justify-items: center;
}

.container {
  margin-top: 200px;
  display: grid;
  justify-items: center;
}

.logo {
  width: 60vw;
  max-width: 300px;
}

.search {
  padding: 0.5rem;
  display: grid;
  justify-content: center;
}

.search-box svg {
  fill: var(--svg-fill);
  width: 20px;
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
}

img.microphone {
  width: 25px;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 10px;
}

#Search-bar {
  margin: 0 2.5rem;
  line-height: 2.5rem;
  width: 400px;
  max-width: 80vw;
  border: 0;
}

#Search-bar::placeholder {
  text-align: center;
}

.Search-div {
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.buttons {
  text-align: center;
  margin-top: 1rem;
}

#Search-button, #Lucky-button {
  padding: 0.4rem;
  margin: 0 0.75rem;
  width: 140px;
  border: 0;
  font-family: arial,sans-serif;
  font-size: 14px;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: var(--div-bg-color);
}

.footer {
  width: 100vw;
  height: 40px;
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--border-color);
  background-color: var(--div-bg-color);
}

.footer-list1 {
  justify-self: left;
  margin-left: 1rem;
}

.footer-list2 {
  justify-self: right;
  margin-right: 1rem;
}

.footer li {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
