* {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 16px;
}

html {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  display: grid;
  justify-items: center;
}

.container {
  margin-top: 200px;
  display: grid;
  justify-items: center;
}

.logo {
  width: 60vw;
  max-width: 300px;
}

.search {
  padding: 0.5rem;
  display: grid;
  justify-content: center;
}

.search-box
svg {
  fill: #5a5a5a;
  width: 20px;
  position: absolute;
  margin-top: 13px;
  margin-left: 40px;
}

#Search-bar {
  margin: 0 2rem;
  line-height: 2.5rem;
  width: 400px;
  max-width: 80vw;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
}

#Search-bar::placeholder {
  text-align: center;
}

.search-buttons {
  text-align: center;
  margin-top: 1rem;
}

#Search, #Lucky {
  padding: 0.4rem;
  margin: 0 0.25rem;
  width: 140px;
  border: 1px solid #f2f3f5;
  font-family: arial,sans-serif;
  font-size: 14px;
  color: #5a5a5a;
}
